@model List<FrisFoodBV.Models.StockModel>
@{
    <link href="~/Content/Site.css" rel="stylesheet" />

    ViewBag.Title = "Stock";
}

<br />
<h3>Product: @ViewBag.ProductNaam &emsp; Merk: @ViewBag.ProductMerk</h3>
<table border="1">
    <tr>
        <th>vestiging_id</th>
        <th>product_id</th>
        <th>aantal in voorraad</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.VestigingId</td>
            <td>@s.ProductId</td>
            <td>@s.VoorraadAantal</td>
        </tr>
    }

</table>